//
   Created by borthwstan on 1/08/16.
#footer

    div(class="footer")
        a(href="http://www.victoria.ac.nz/")
        img(src="images/VUWLogo.png" alt="VUW" style="height:50px;")
        div(id="social" class="social")
            a(href="https://www.facebook.com/victoriauniversityofwellington/?fref=ts")
                img(src="images/fb.png")
            a(href="https://twitter.com/VicUniWgtn")
                img(src="images/twitter.png")
            a(href="https://www.youtube.com/user/victoriamarketing")
                img(src="images/youtube.png")
            a(href="https://www.linkedin.com/edu/victoria-university-of-wellington-15519")
                img(src="images/linkedin.png")
            a(href="https://www.instagram.com/vicuniwgtn/")
                img(src="images/instagram.png")
